.herosection-main-container {
    /* background-color: orange; */
    margin: 1rem;
}

.hero-sec {
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    background-image: url('../assets/pexels-asad-photo-maldives-3155666.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem;
    border-radius: 10px;

}

.hero-sec>h1 {
    margin-bottom: 1rem;
}

/* .hero-sec-btm {
    margin-top: 1rem;
} */

.facilities-container {
    /* background-color: orange !important; */
    position: absolute;
    bottom: -10vh;
    left: 15%;
    border: 1px solid #f4f4f4;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}